In [3]:
import pandas as pd
import numpy as np
import musicbrainzngs as mb

In [80]:
mb.set_useragent("MyLifeWithMusic","0.1","eduardo.callejas@usach.cl")

In [131]:
df = pd.read_csv('Data/plaxibo.csv',header=None)

In [132]:
df.head()

,0,1,2,3
0,Michael Jackson,HIStory: Past Present and Future Book I,History,19 Oct 2018 23:11
1,Michael Jackson,HIStory: Past Present and Future Book I,2 Bad,19 Oct 2018 23:06
2,Michael Jackson,HIStory: Past Present and Future Book I,Tabloid Junkie,19 Oct 2018 22:53
3,Michael Jackson,HIStory: Past Present and Future Book I,Childhood (theme from Free Willy 2),19 Oct 2018 22:48
4,Michael Jackson,HIStory: Past Present and Future Book I,You Are Not Alone,19 Oct 2018 22:41

In [136]:
artists= df[0].drop_duplicates().reset_index()
artists=artists[0]
artists.head()

0              Michael Jackson
1           The Isley Brothers
2    Eydie Gorme & Los Panchos
3                  Roy Orbison
4                 Héctor Lavoe
Name: 0, dtype: object

Empty DataFrame
Columns: [Tag, Pais, Genero, Artista]
Index: []

In [166]:
def getinfo(artist):
    try:
        dict = mb.search_artists(artist,limit=1)
        dict2 = dict['artist-list'][0]
        try:
            country = dict2['country']
        except:
            country = np.nan

        try:
            gender = dict2['gender']
        except:
            gender = np.nan

        try:
            tag = df.from_dict(dict2['tag-list'])
            tag['count']= tag['count'].astype(int)
            genre=tag.loc[tag['count'].idxmax()]['name']
        except:
            genre = np.nan
    except:
        country= np.nan
        gender=np.nan
        genre = np.nan
    #print(artist,country, gender, genre)
    return [artist, country, gender, genre]

In [169]:
appended_data = []

for i in artists.head(10):
    
    database = pd.DataFrame(getinfo(i)).T
    appended_data.append(database)

appended_data = pd.concat(appended_data, axis=0)   
appended_data.to_csv('Data/artistas.csv')

In [170]:
appended_data

                                  0    1       2      3
0                   Michael Jackson   US    male    pop
0                The Isley Brothers   US     NaN   funk
0         Eydie Gorme & Los Panchos   US  female    pop
0                       Roy Orbison   US    male    pop
0                      Héctor Lavoe   PR    male    NaN
0                           DJ Afro  NaN    male    NaN
0                       Tito Puente   US    male   jazz
0  Johnny Albino Y Su Trío San Juan   AR    male  tango
0                       Luis Segura  NaN     NaN    NaN
0                     Johnny Albino  NaN    male    NaN

In [171]:
pd.read_csv('Data/artistas.csv')

   Unnamed: 0                                 0    1       2      3
0           0                   Michael Jackson   US    male    pop
1           0                The Isley Brothers   US     NaN   funk
2           0         Eydie Gorme & Los Panchos   US  female    pop
3           0                       Roy Orbison   US    male    pop
4           0                      Héctor Lavoe   PR    male    NaN
5           0                           DJ Afro  NaN    male    NaN
6           0                       Tito Puente   US    male   jazz
7           0  Johnny Albino Y Su Trío San Juan   AR    male  tango
8           0                       Luis Segura  NaN     NaN    NaN
9           0                     Johnny Albino  NaN    male    NaN

In [34]:
dict2 = dict['artist-list'][0]

In [79]:
getinfo('Angasdasldñkasdklasd')

(nan, nan, nan)

In [64]:
dict2['country']

'US'

In [49]:
tag = df.from_dict(dict3['tag-list'])
tag['count']= tag['count'].astype(int)
genre=tag.loc[tag['count'].idxmax()]['name']

In [53]:
Artists= df[0].drop_duplicates().reset_index()

In [52]:
genre=tag.loc[tag['count'].idxmax()]['name']

'pop'

In [67]:
dict = mb.search_artists('Queen',limit=1)

In [68]:
dict

{'artist-list': [{'id': '0383dadf-2a4e-4d10-a46a-e9e041da8eb3',
   'type': 'Group',
   'ext:score': '100',
   'name': 'Queen',
   'sort-name': 'Queen',
   'country': 'GB',
   'area': {'id': '8a754a16-0027-3a29-b6d7-2b40ea0481ed',
    'type': 'Country',
    'name': 'United Kingdom',
    'sort-name': 'United Kingdom',
    'life-span': {'ended': 'false'}},
   'begin-area': {'id': 'f03d09b3-39dc-4083-afd6-159e3f0d462f',
    'type': 'City',
    'name': 'London',
    'sort-name': 'London',
    'life-span': {'ended': 'false'}},
   'disambiguation': 'UK rock group',
   'life-span': {'begin': '1970-06-27', 'ended': 'false'},
   'tag-list': [{'count': '16', 'name': 'rock'},
    {'count': '0', 'name': 'progressive rock'},
    {'count': '-2', 'name': '70s'},
    {'count': '-2', 'name': '80s'},
    {'count': '-2', 'name': '90s'},
    {'count': '-1', 'name': 'pop-rock'},
    {'count': '5', 'name': 'british'},
    {'count': '0', 'name': 'uk'},
    {'count': '0', 'name': 'band'},
    {'count': '5', 'name': 'hard rock'},
    {'count': '0', 'name': 'britannique'},
    {'count': '0', 'name': 'disco'},
    {'count': '3', 'name': 'glam rock'},
    {'count': '-1', 'name': 'queen family'},
    {'count': '4', 'name': 'art rock'},
    {'count': '2', 'name': 'pop rock'},
    {'count': '0', 'name': 'english'},
    {'count': '0', 'name': 'united kingdom'},
    {'count': '-1', 'name': 'queen'},
    {'count': '1', 'name': 'film soundtrack'},
    {'count': '-1', 'name': 'classic pop and rock'},
    {'count': '-1', 'name': 'platinum'},
    {'count': '-1', 'name': 'pop/rock'},
    {'count': '0', 'name': "80's"},
    {'count': '-1', 'name': "90's"},
    {'count': '0', 'name': "70's"},
    {'count': '0', 'name': 'langham 1 studio bbc'},
    {'count': '0', 'name': 'kind of magic'},
    {'count': '1', 'name': 'sa-town anthem'}]}],
 'artist-count': 681}